# IntelliJ
.idea/
*.iws
*.ipr
*.iml
out/

# Gradle
.gradle/
build/
.kotlin/

# garbage that MacOS insists in putting in every directory
.DS_Store

# AWS test credentials – never commit these
src/test/resources/aws-test.properties

